 <% if @comment.destroyed? %>
   $('#comment-' +<%= @comment.id %>).hide();
 <% else %>
   $('#comment-' +<%= @comment.id %>).prepend("<div class='alert alert-danger'><%= flash[:error] %></div>");
 <% end %>